<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Game"
        tools:targetApi="31">

        <!-- Splash Activity (LAUNCHER - Màn hình khởi động đầu tiên) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Game">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Name Input Activity (Màn hình nhập tên) -->
        <activity
            android:name=".NameInputActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Game" />

        <!-- Main Activity (Màn hình chính) -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Game" />

        <!-- Game Screen Activity -->
        <activity
            android:name=".GameScreenActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Game" />

        <!-- Level 2 Activity -->
        <activity
            android:name=".Level2Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Game" />

        <!-- Level 3 Activity -->
        <activity
            android:name=".Level3Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Game" />

        <!-- Level 4 Activity -->
        <activity
            android:name=".Level4Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Game" />

        <!-- Level 5 Activity -->
        <activity
            android:name=".Level5Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Game" />

        <activity android:name=".Top6Activity" />
        <activity android:name=".RankScreenActivity" />
        <activity android:name=".SettingScreenActivity" />
    </application>

</manifest>
